# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
.Python
build/
dist/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# Jupyter Notebook
.ipynb_checkpoints

# matplotlib
.cache/
matplotlib/

# Sphinx documentation
docs/_build/

# PyCharm
.idea/
*.iml
*.iws
*.iwd
.idea/

# VS Code
.vscode/

# Sublime Text
.sublime-project
.sublime-workspace

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# Pyre
.pyre/

# Pytest
__pycache__/
*.pyc

# mypy
.mypy_cache/
.dmypy.json
.dmypy/

# PyInstaller
build/
dist/

# Pipenv
Pipfile.lock

# poetry
poetry.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
.dmypy/

# Pyre type checker
.pyre/

# pyenv
.python-version

# pipenv
Pipfile.lock
Pipfile
/ЛАТЕХ готовый отчет.txt
/Dmitriev_Mikhail_Lab12_5030102_10201.pdf
/17_04_Latex_otchet
/1lab - Online LaTeX Editor Overleaf.html
/1lab - Online LaTeX Editor Overleaf_files/
